.dw-grid-2 {
  display: grid;
  grid: 150px/auto auto;
  grid-gap: 5px;
}

.dw-grid-3 {
  display: grid;
  grid: 150px/auto auto auto;
  grid-gap: 5px;
}

.dw-grid-4 {
  display: grid;
  grid: 150px/auto auto auto auto;
  grid-gap: 5px;
}

.dw-grid-5 {
  display: grid;
  grid: 150px/auto auto auto auto auto;
  grid-gap: 5px;
}

.dw-grid-6 {
  display: grid;
  grid: 150px/auto auto auto auto auto auto;
  grid-gap: 5px;
}

.dw-col-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.dw-col-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.dw-col-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.dw-mix-darken-pink {
  background-color: pink !important;
}

.dw-mix-darken-pink img {
  mix-blend-mode: darken;
}

.dw-mix-darken-red {
  background-color: red !important;
}

.dw-mix-darken-red img {
  mix-blend-mode: darken;
}

.dw-mix-darken-green {
  background-color: green !important;
}

.dw-mix-darken-green img {
  mix-blend-mode: darken;
}

.dw-mix-darken-blue {
  background-color: blue !important;
}

.dw-mix-darken-blue img {
  mix-blend-mode: darken;
}

.dw-mix-screen-pink {
  background-color: pink !important;
}

.dw-mix-screen-pink img {
  mix-blend-mode: screen;
}

.dw-mix-screen-red {
  background-color: red !important;
}

.dw-mix-screen-red img {
  mix-blend-mode: screen;
}

.dw-mix-screen-green {
  background-color: green !important;
}

.dw-mix-screen-green img {
  mix-blend-mode: screen;
}

.dw-mix-screen-blue {
  background-color: blue !important;
}

.dw-mix-screen-blue img {
  mix-blend-mode: screen;
}

.dw-mix-overlay-pink {
  background-color: pink !important;
}

.dw-mix-overlay-pink img {
  mix-blend-mode: overlay;
}

.dw-mix-overlay-red {
  background-color: red !important;
}

.dw-mix-overlay-red img {
  mix-blend-mode: overlay;
}

.dw-mix-overlay-green {
  background-color: green !important;
}

.dw-mix-overlay-green img {
  mix-blend-mode: overlay;
}

.dw-mix-overlay-blue {
  background-color: blue !important;
}

.dw-mix-overlay-blue img {
  mix-blend-mode: overlay;
}

.dw-mix-multiply-pink {
  background-color: pink !important;
}

.dw-mix-multiply-pink img {
  mix-blend-mode: multiply;
}

.dw-mix-multiply-red {
  background-color: red !important;
}

.dw-mix-multiply-red img {
  mix-blend-mode: multiply;
}

.dw-mix-multiply-green {
  background-color: green !important;
}

.dw-mix-multiply-green img {
  mix-blend-mode: multiply;
}

.dw-mix-multiply-blue {
  background-color: blue !important;
}

.dw-mix-multiply-blue img {
  mix-blend-mode: multiply;
}

.dw-mix-lighten-pink {
  background-color: pink !important;
}

.dw-mix-lighten-pink img {
  mix-blend-mode: lighten;
}

.dw-mix-lighten-red {
  background-color: red !important;
}

.dw-mix-lighten-red img {
  mix-blend-mode: lighten;
}

.dw-mix-lighten-green {
  background-color: green !important;
}

.dw-mix-lighten-green img {
  mix-blend-mode: lighten;
}

.dw-mix-lighten-blue {
  background-color: blue !important;
}

.dw-mix-lighten-blue img {
  mix-blend-mode: lighten;
}

.dw-mix-color-dodge-pink {
  background-color: pink !important;
}

.dw-mix-color-dodge-pink img {
  mix-blend-mode: color-dodge;
}

.dw-mix-color-dodge-red {
  background-color: red !important;
}

.dw-mix-color-dodge-red img {
  mix-blend-mode: color-dodge;
}

.dw-mix-color-dodge-green {
  background-color: green !important;
}

.dw-mix-color-dodge-green img {
  mix-blend-mode: color-dodge;
}

.dw-mix-color-dodge-blue {
  background-color: blue !important;
}

.dw-mix-color-dodge-blue img {
  mix-blend-mode: color-dodge;
}

.dw-mix-color-burn-pink {
  background-color: pink !important;
}

.dw-mix-color-burn-pink img {
  mix-blend-mode: color-burn;
}

.dw-mix-color-burn-red {
  background-color: red !important;
}

.dw-mix-color-burn-red img {
  mix-blend-mode: color-burn;
}

.dw-mix-color-burn-green {
  background-color: green !important;
}

.dw-mix-color-burn-green img {
  mix-blend-mode: color-burn;
}

.dw-mix-color-burn-blue {
  background-color: blue !important;
}

.dw-mix-color-burn-blue img {
  mix-blend-mode: color-burn;
}

.dw-mix-saturation-pink {
  background-color: pink !important;
}

.dw-mix-saturation-pink img {
  mix-blend-mode: saturation;
}

.dw-mix-saturation-red {
  background-color: red !important;
}

.dw-mix-saturation-red img {
  mix-blend-mode: saturation;
}

.dw-mix-saturation-green {
  background-color: green !important;
}

.dw-mix-saturation-green img {
  mix-blend-mode: saturation;
}

.dw-mix-saturation-blue {
  background-color: blue !important;
}

.dw-mix-saturation-blue img {
  mix-blend-mode: saturation;
}

.dw-mix-color-pink {
  background-color: pink !important;
}

.dw-mix-color-pink img {
  mix-blend-mode: color;
}

.dw-mix-color-red {
  background-color: red !important;
}

.dw-mix-color-red img {
  mix-blend-mode: color;
}

.dw-mix-color-green {
  background-color: green !important;
}

.dw-mix-color-green img {
  mix-blend-mode: color;
}

.dw-mix-color-blue {
  background-color: blue !important;
}

.dw-mix-color-blue img {
  mix-blend-mode: color;
}

.dw-mix-luminosity-pink {
  background-color: pink !important;
}

.dw-mix-luminosity-pink img {
  mix-blend-mode: luminosity;
}

.dw-mix-luminosity-red {
  background-color: red !important;
}

.dw-mix-luminosity-red img {
  mix-blend-mode: luminosity;
}

.dw-mix-luminosity-green {
  background-color: green !important;
}

.dw-mix-luminosity-green img {
  mix-blend-mode: luminosity;
}

.dw-mix-luminosity-blue {
  background-color: blue !important;
}

.dw-mix-luminosity-blue img {
  mix-blend-mode: luminosity;
}

.dw-mix-exclusion-pink {
  background-color: pink !important;
}

.dw-mix-exclusion-pink img {
  mix-blend-mode: exclusion;
}

.dw-mix-exclusion-red {
  background-color: red !important;
}

.dw-mix-exclusion-red img {
  mix-blend-mode: exclusion;
}

.dw-mix-exclusion-green {
  background-color: green !important;
}

.dw-mix-exclusion-green img {
  mix-blend-mode: exclusion;
}

.dw-mix-exclusion-blue {
  background-color: blue !important;
}

.dw-mix-exclusion-blue img {
  mix-blend-mode: exclusion;
}

.dw-mix-hue-pink {
  background-color: pink !important;
}

.dw-mix-hue-pink img {
  mix-blend-mode: hue;
}

.dw-mix-hue-red {
  background-color: red !important;
}

.dw-mix-hue-red img {
  mix-blend-mode: hue;
}

.dw-mix-hue-green {
  background-color: green !important;
}

.dw-mix-hue-green img {
  mix-blend-mode: hue;
}

.dw-mix-hue-blue {
  background-color: blue !important;
}

.dw-mix-hue-blue img {
  mix-blend-mode: hue;
}

.dw-rotate-180 {
  transform: rotate(180deg);
  transform-origin: 20% 80%;
}

.dw-rotate-90 {
  transform: rotate(90deg);
  transform-origin: 20% 80%;
}

.dw-rotate-45 {
  transform: rotate(45deg);
  transform-origin: 20% 80%;
}

.dw-rotate-40 {
  transform: rotate(40deg);
  transform-origin: 20% 80%;
}

.dw-rotate-35 {
  transform: rotate(35deg);
  transform-origin: 20% 80%;
}

.dw-rotate-30 {
  transform: rotate(30deg);
  transform-origin: 20% 80%;
}

.dw-rotate-25 {
  transform: rotate(25deg);
  transform-origin: 20% 80%;
}

.dw-rotate-20 {
  transform: rotate(20deg);
  transform-origin: 20% 80%;
}

.dw-rotate-15 {
  transform: rotate(15deg);
  transform-origin: 20% 80%;
}

.dw-rotate-10 {
  transform: rotate(10deg);
  transform-origin: 20% 80%;
}

.dw-rotate-5 {
  transform: rotate(5deg);
  transform-origin: 20% 80%;
}

.dw-rotate-3 {
  transform: rotate(3deg);
  transform-origin: 20% 80%;
}

.dw-rotate-1 {
  transform: rotate(1deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m180 {
  transform: rotate(-180deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m90 {
  transform: rotate(-90deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m45 {
  transform: rotate(-45deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m40 {
  transform: rotate(-40deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m35 {
  transform: rotate(-35deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m30 {
  transform: rotate(-30deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m25 {
  transform: rotate(-25deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m20 {
  transform: rotate(-20deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m15 {
  transform: rotate(-15deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m10 {
  transform: rotate(-10deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m5 {
  transform: rotate(-5deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m3 {
  transform: rotate(-3deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m1 {
  transform: rotate(-1deg);
  transform-origin: 20% 80%;
}

.dw-border-solid-black-5 {
  border-color: black;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-black-1 {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.dw-border-solid-white-5 {
  border-color: black;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-white-1 {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.dw-border-solid-blue-5 {
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-blue-1 {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}

.dw-border-solid-red-5 {
  border-color: red;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-red-1 {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.dw-border-solid-green-5 {
  border-color: green;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-green-1 {
  border-color: green;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dotted-black-5 {
  border-color: black;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dotted-black-1 {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dotted-blue-5 {
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dotted-blue-1 {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dotted-red-5 {
  border-color: red;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dotted-red-1 {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dotted-green-5 {
  border-color: green;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dotted-green-1 {
  border-color: green;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dashed-blue-5 {
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dashed-blue-1 {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dashed-red-5 {
  border-color: red;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dashed-red-1 {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dashed-green-5 {
  border-color: green;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dashed-green-1 {
  border-color: green;
  border-style: solid;
  border-width: 1px;
}

.dw-border-groove-blue-5 {
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}

.dw-border-groove-blue-1 {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}

.dw-border-groove-red-5 {
  border-color: red;
  border-style: solid;
  border-width: 5px;
}

.dw-border-groove-red-1 {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.dw-border-groove-green-5 {
  border-color: green;
  border-style: solid;
  border-width: 5px;
}

.dw-border-groove-green-1 {
  border-color: green;
  border-style: solid;
  border-width: 1px;
}

.dw-border-outset-blue-5 {
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}

.dw-border-outset-blue-1 {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}

.dw-border-outset-red-5 {
  border-color: red;
  border-style: solid;
  border-width: 5px;
}

.dw-border-outset-red-1 {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.dw-border-outset-green-5 {
  border-color: green;
  border-style: solid;
  border-width: 5px;
}

.dw-border-outset-green-1 {
  border-color: green;
  border-style: solid;
  border-width: 1px;
}

.dw-border-inset-blue-5 {
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}

.dw-border-inset-blue-1 {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}

.dw-border-inset-red-5 {
  border-color: red;
  border-style: solid;
  border-width: 5px;
}

.dw-border-inset-red-1 {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.dw-border-inset-green-5 {
  border-color: green;
  border-style: solid;
  border-width: 5px;
}

.dw-border-inset-green-1 {
  border-color: green;
  border-style: solid;
  border-width: 1px;
}

.dw-border-ridge-blue-5 {
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}

.dw-border-ridge-blue-1 {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}

.dw-border-ridge-red-5 {
  border-color: red;
  border-style: solid;
  border-width: 5px;
}

.dw-border-ridge-red-1 {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.dw-border-ridge-green-5 {
  border-color: green;
  border-style: solid;
  border-width: 5px;
}

.dw-border-ridge-green-1 {
  border-color: green;
  border-style: solid;
  border-width: 1px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  padding: 1vh;
  font-size: 6vh;
}

h2 {
  font-family: "Source Code Pro", monospace;
  padding: 1vh;
  font-size: 4vh;
}

h3 {
  font-family: "Open Sans", sans-serif;
  padding: 1vh;
}

h4 {
  font-family: "Mukta", sans-serif;
  padding: 1vh;
}

h5 {
  font-family: "Ubuntu", sans-serif;
  padding: 1vh;
  font-size: 3vh;
}

h6 {
  font-family: "Poppins", sans-serif;
  padding: 1vh;
  font-size: 1vh;
}

p {
  font-family: "Mukta", sans-serif;
  padding: 1vh;
  font-size: 3vh;
}
