 body{
  background-color:black;
  
}

.super-search {
         margin-top:1px;
        border: 1px solid whitesmoke;
         padding: 16px 6px;
        padding-bottom: 16px;
        align-content: center;
        background-image: url("img/w1.jpg");
        background-color: #0000008f;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        position: relative;
        padding-bottom: 24px;
 }

.super-search input {
    font-family: 'Heebo', sans-serif;
    color: rgb(95, 250, 255);
    font-size: 18px;
    background: rgba(55, 22, 51, 0.431);
   border: 2px inset whitesmoke;

}

.super-search button {
    box-shadow: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    color: rgba(192, 192, 192, 0.849);
    border: 1px groove whitesmoke;
    background: rgba(5, 5, 5, 0.705);
    
}

.super-search button:hover {


    color: rgb(47, 248, 255);
    background: rgba(5, 5, 5, 0.561);
    box-shadow: -1px -1px rgb(102, 60, 60);

}
