/* dw-theme-pink-sass */
.dw-theme-light {
  color: #e600e6 !important;
  background-color: #ff66ff !important;
}

.dw-theme-light a:hover {
  color: #ffe6ff !important;
  background-color: #e600e6 !important;
}

.dw-theme-l1 {
  color: #cd00cd !important;
  background-color: #ff66ff !important;
}

.dw-theme-l1 a:hover {
  color: #ffe6ff !important;
  background-color: #e600e6 !important;
}

.dw-theme-l2 {
  color: #b300b3 !important;
  background-color: #ff99ff !important;
}

.dw-theme-l2 a:hover {
  color: #ffe6ff !important;
  background-color: #e600e6 !important;
}

.dw-theme-l3 {
  color: #9a009a !important;
  background-color: #ffb3ff !important;
}

.dw-theme-l3 a:hover {
  color: #ffe6ff !important;
  background-color: #e600e6 !important;
}

.dw-theme-dark {
  color: #ff66ff !important;
  background-color: #e600e6 !important;
}

.dw-theme-dark a:hover {
  color: white !important;
  background-color: #ff66ff !important;
}

.dw-theme-d1 {
  color: #ff80ff !important;
  background-color: #e600e6 !important;
}

.dw-theme-d1 a:hover {
  color: white !important;
  background-color: #ff66ff !important;
}

.dw-theme-d2 {
  color: #ff99ff !important;
  background-color: #b300b3 !important;
}

.dw-theme-d2 a:hover {
  color: white !important;
  background-color: #ff66ff !important;
}

.dw-theme-d3 {
  color: #ffb3ff !important;
  background-color: #9a009a !important;
}

.dw-theme-d3 a:hover {
  color: white !important;
  background-color: #ff66ff !important;
}
